﻿/*сбросим дефолтные стили*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* конец сбросим дефолтные стили*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/1.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: rgba(0, 129, 201, 0.12);
}

.Btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.Btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.Btn.focus, .Btn:focus, .Btn:hover {
    color: #333;
    text-decoration: none;
}

.Btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.Btn.Disabled{
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.CursorPointer {
    cursor:pointer;
}

.AppLayout {
    width: 502px;
    margin: 50px auto;
}

.AppLayout .CalculatorLayout {
    position: relative;
    border: 1px solid rgba(5,130,255,1);
    height: 400px;
    width: 500px;
    display: block;
    vertical-align:top;
    box-shadow: 0 0 10px rgba(5,130,255,0.5);
    background-color: rgba(0, 120, 201, 0.3);
}

.AppLayout .CalculatorLayout .CalculatorForm {
    padding: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AppLayout .CalculatorLayout .CalcH1{
    font-size: 35px;
    text-align: center;
    color: rgb(32, 32, 37);
    margin-top: 10px;
    margin-bottom: 20px;
}

.AppLayout .CalculatorLayout .ResultViewer {
    font-family: Ubuntu, Arial, sans-serif;
    padding: 20px;
    max-height: 360px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

    .AppLayout .CalculatorLayout .ResultViewer .Pararaph {
        margin-bottom: 10px;
    }

.AppLayout .CalculatorLayout .ResultViewer .CalcH1 {
    font-family: Arial, sans-serif;
    margin-top: 8px;
}

.AppLayout .CalculatorLayout .ResultViewer .CalorieResultSpan {
    font-weight: bolder;
}

.AppLayout .CalculatorLayout .ResultViewer .ResultText {
    color: #FFFAF0;
}

.AppLayout .CalculatorLayout .ResultViewer .BackBtn{
    cursor: pointer;
    display: inline-block;
    padding: 5px 14px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .AppLayout .CalculatorLayout .ResultViewer .BackBtn:hover,
    .AppLayout .CalculatorLayout .ResultViewer .BackBtn:focus {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

.CalculatorLayout .CalculatorForm .CalcRow {
    display: block;
    position: relative;
    padding-bottom: 10px;
}

.CalculatorLayout .CalculatorForm .CalcRow:nth-last-child(1) {
    padding-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .CalculatorLayout .CalculatorForm .CalcRow .CalcLbl {
        font-family: Ubuntu, Arial, sans-serif;
        display: inline-block;
        width: 120px;
        color: rgb(59, 59, 68);
        margin-left: 30px;
    }

    .CalculatorLayout .CalculatorForm .CalcRow .CalcSelect {
        display: inline-block;
        height: 25px;
        border: 1px solid rgba(5,130,255,1);
    }

    .CalculatorLayout .CalculatorForm .CalcRow .CalcInput {
        display: inline-block;
        cursor: text;
        height: 21px;
        border: 1px solid rgba(5,130,255,1);
        padding-left: 3px;
    }

        .CalculatorLayout .CalculatorForm .CalcRow .CalcInput.Required {
            border: 1px solid rgb(255, 0, 0);
        }

.CalculatorLayout {
    perspective: 1000px;
}

    .CalculatorLayout.Flip .Front{
        transition: 1.5s;
        transform-style: preserve-3d;
        transform: rotateY(180deg);
    }

    .CalculatorLayout.Flip .Back{
        transition: 1.5s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }

    .CalculatorLayout .Front, .CalculatorLayout .Back {
        height: 400px;
        width: 500px;
        -moz-backface-visibility: hidden; 
	    backface-visibility: hidden;     
        position: absolute;
        top: 0;
        left: 0;
    }

    .CalculatorLayout .Front {
        transition: 1.5s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }

    .CalculatorLayout .Back {
       transition: 1.5s;
       transform-style: preserve-3d;
       transform: rotateY(180deg);
    }